* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Light", serif;
    font-size: 1.5rem;
}

.image-container {
    width: 400px;
    height: 400px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}